# dependencies
/node_modules

# next.js
/.next/
/out/

# production / build output (generated on server with npm run build)
/dist
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
.idea

# AI files
.claude
CLAUDE.md
.env.development
.env.local
# Sentry Config File
.env.sentry-build-plugin
docs/
backups/
certificates

#Others
struct.py
/generated